<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.qmetry.qaf.qloapps.test.TC_01_RegisterAccountTest"/>
       <class name="com.qmetry.qaf.qloapps.test.TC_02_AddingAddressTest"/>
      <class name="com.qmetry.qaf.qloapps.test.TC_03_BookingHotelTest"/>
      <class name="com.qmetry.qaf.qloapps.test.TC_04_OrderCancelTest"/>
       <class name="com.qmetry.qaf.qloapps.test.TC_05_UpdatingDetailsTest"/>
       <class name="com.qmetry.qaf.qloapps.test.TC_06_ContactUsTest"/>
      <class name="com.qmetry.qaf.qloapps.test.TC07_RemoveProductTest"/>
     
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
